@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.sucesso {
  color: #0b700b;
  font-weight: 500;
  background-color: #8bea8b;
  border: 2px solid #0b700b;
}

.mensagem-erro {
  color: #c61523;
  font-weight: 500;
  text-align: center;
  margin-top: 2vw;
}

.fa-regular {
  cursor: pointer;
  user-select: none;
  margin-top: 3%;
}

.container{
  background-image: url("../img/bg-login.jpg");
  background-size: cover;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}




#div-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;


  .quadrado {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #eff4f0;
    border: solid black 3px;
    border-radius: 20px;
    margin: 30px;
  }
  h1 {
    text-align: center;
    margin-top: 100px;
  }
  p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  .formatacao-entrada {
    margin-left: 50px;
    height: 60px;
    width: 400px;
    border-radius: 20px;
    font-size: 2rem;
  }
  
  h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 10px;

  }

  input{
    padding: 0 5%;
  }

  .fa-regular {
    cursor: pointer;
    user-select: none;
  }
  .mensagem {
    text-align: center;
    margin-top: 10px;
  }
}

.botao-enviar{
  display:flex;
  justify-content: center;
  align-items: center;

}

button {
  padding: 5px 25px;
  border-radius: 5px;
  border: solid 1px;
  background-color: #0046c7;
  color: #fff;
  font-size: 1.75rem;
  margin-top: 30px;
}

.Mensagem {
  font-size: 100px;
  text-align: center;
}

/* Página Index */

#div-welcome {
  display: flex;
  justify-content: center;
  .quadrado {
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #eff4f0;
    border: solid black 3px;
    border-radius: 20px;
    margin: 30px;
  }

  h1 {
    text-align: center;
    margin-top: 12vw;
  }
}
